body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}


#wrap h1{
	background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;
	
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
	
	font-size: 18px;
	
	padding: 10px 0 5px 20px;
}

#wrap h1.nomargin {
	margin: -4px 0 0 0;
}

#wrap2 h1{
	background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;
	
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
	
	font-size: 18px;
	
	padding: 10px 0 5px 20px;
}

#wrap2 h1.nomargin {
	margin: -4px 0 0 0;
}

#wrap p {
	padding: 3px 0 0 4px;
	margin: 0;
}

#left-menu h2 {
	background: url("/admin/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;
	
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
	
	font-size: 18px;
	
	padding: 8px 0 5px 10px;
	margin: 8px 5px 3px 5px;
}

#right-body h2 {
	background: url("/admin/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;
	
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
	
	font-size: 18px;
	
	padding: 8px 0 5px 10px;
	margin: 8px 5px 0 0;
	
	width : 99%;
	
	border-top-left-radius: 4px;
}