<html>
<head>
<title>Alinous Visual Block CMS</title>
<link rel="stylesheet" href="/admin/css/navi.css">
<link rel="stylesheet" href="/admin/css/layout.css">
<link rel="stylesheet" href="/admin/css/style.css">

<link rel="stylesheet" href="/jquery/themes/cupertino/jquery-ui.css">

<script src="/jquery/jquery-1.10.2.js"></script>

<script src="/jquery/ui/jquery-ui.js"></script>

<script src="/jquery/ui/jquery.ui.core.js"></script>
<script src="/jquery/ui/jquery.ui.widget.js"></script>

<script type="text/javascript" charset="utf-8">
<!--
$(function() {
	$("#forward a").button();
});
-->
</script>
<style>
<!--
#forward a{
    width: 260px;
    margin: 0 0 0 20px;
}
-->
</style>

</head>
<body>

<div id="menubox" alns:tagid="menu" alns:inner="/admin/menu.html" style="clear:both;"></div>

<div id="wrap">

<h1>Alinous Programmable CMS</h1>

<div id="forward">
<blockquote>
	<h2>CMS Functions</h2>
	
	<blockquote>
		<h3>Write Article and Contents</h3>
		<a href="/admin/cms/article/">Article and Pages</a>
		<a href="/admin/cms/tags/">Tag Managemant</a>
		<a href="/admin/cms/rss-sitemap/">RSS and Sitemap</a>
		
		<a href="/admin/cms/publish/">Manual Publish</a>
		
		<h3>Template Management</h3>
		<a href="/admin/cms/template-top/">Top Templetes</a>
		<a href="/admin/cms/template-container/">Container Templetes</a>
		<a href="/admin/cms/template-primitive/">Primitive Templetes</a>
		
		<h3>Content Migration</h3>
		<a href="/admin/cms/importer/">Content Importer</a>
		<a href="/admin/cms/http-header/">Http Header Management</a>
	</blockquote>

	<h2>Access Recorder</h2>
	<blockquote>
			<a href="/admin/access/player/index.html">Play Recorded Logs</a>
			<a href="/admin/access/heatmap/index.html">Mouse Move Heatmap</a>
			<a href="/admin/access/scrollmap/index.html">Scroll Heatmap</a>
			<br /><br />
			<a href="/admin/access/archiver/index.html">Manage Archive</a>
	</blockquote>
	
	<h2>SEO Cheker</h2>
	<blockquote>
			<a href="/admin/seo/sitemap/index.html">Analyze with Sitemap</a>
			<a href="/admin/seo/content/">Content Keywords</a>
			<a href="/admin/seo/robotlog/index.html">Robot Accesslog</a>
			<br /><br />
			<a href="/admin/seo/robotlog/csvsetting.html">Robot Accesslog Config</a>
			<a href="/admin/seo/internallinks/index.html">Import Internal links</a>
	</blockquote>
	
	<h2>System</h2>
	<blockquote>
		<h3>Login and User Management</h3>
		<a href="/admin/login/logout.html">Logout</a>
		<a href="/admin/login/index.html">Manage users</a>
		
		<h3>Backup Data</h3>
		<a href="/admin/backup/index.html">Backup Data</a>
	</blockquote>
</blockquote>
</div>

</div>

</body>
</html>
