<html>
<head>
<link rel="stylesheet" href="navi.css">

</head>
<body>

<nav>

<ul>
	<li class="toplogo"><a href="/admin/"><img src="/admin/cms/img/alilogo.png" height="50" /></a></li>
	<li>
		<div class="rounddiv">
			<a href="#"><img src="/admin/cms/img/cmsicon.png" width="20" class="itemIcon" /><div class="itemText">Document CMS</div></a>
		</div>
		<ul>
			<li><a href="/admin/cms/article/index.html">Article and Pages</a></li>
			<li><a href="/admin/cms/tags/index.html">Tag Managemant</a></li>
			<li><a href="/admin/cms/template-top/index.html">Top Templetes</a></li>
			<li><a href="/admin/cms/template-container/index.html">Container Templetes Parts</a></li>
			<li><a href="/admin/cms/template-primitive/index.html">Primitive Templetes Part</a></li>
			<li><a href="/admin/cms/rss-sitemap/index.html">RSS &amp; Sitemap</a></li>
			<li><a href="/admin/cms/importer/index.html">Content Importer</a></li>
			<li><a href="/admin/cms/http-header/index.html">Http Header Management</a></li>
			
		</ul>
	</li>
	<li>
		<div class="rounddiv">
		<a href="#"><img src="/admin/cms/img/accessrecorder.png" width="20" class="itemIcon" /><div class="itemText">Access Recorder</div></a>
		</div>
		<ul>
			<li><a href="/admin/access/player/index.html">Play Recorded Logs</a></li>
			<li><a href="/admin/access/heatmap/index.html">Mouse Move Heatmap</a></li>
			<li><a href="/admin/access/scrollmap/index.html">Scroll Heatmap</a></li>
			<li><a href="/admin/access/archiver/index.html">Manage Archived Webpage</a></li>
		</ul>
	</li>
	<li>
		<div class="rounddiv">
		<a href="#"><img src="/admin/cms/img/seochecker.png" width="20" class="itemIcon" /><div class="itemText">SEO Checker</div></a>
		<ul>
			<li><a href="/admin/seo/sitemap/index.html">Import Sitemap and Analyze</a></li>
			<li><a href="/admin/seo/content/">Content Keywords</a></li>
			<li><a href="/admin/seo/robotlog/index.html">Robot Accesslog</a></li>
			<li><a href="/admin/seo/robotlog/csvsetting.html">Robot Accesslog Config</a></li>
			<li><a href="/admin/seo/internallinks/index.html">Import Internal links detected</a></li>
		</ul>
		</div>
	</li>
	<li>
		<div class="rounddiv">
		<a href="#"><img src="/admin/cms/img/system.png" width="20" class="itemIcon" /><div class="itemText">System</div></a>
		</div>
		<ul>
			<li><a href="/admin/login/logout.html">Logout</a></li>
			<li><a href="/admin/login/index.html">Manage users</a></li>
			<li><a href="/admin/backup/index.html">Backup Data</a></li>
		</ul>
	</li>
</ul>

<br style="clear:both;" />
</nav>



</body>
</html>